<a href="https://colab.research.google.com/github/prateekagrawal98/python/blob/master/Copy_of_pybasic_Astha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expressions, Operators, Control statements

# Operators
- Arithmetic (+, -, *, /, //, %)
- Relational (<, >, <=, >=, !=, ==)
- Shift (>>, <<)
- Assignment (=)
- Logical (and, or, not)
- Bitwise (&, |, !)
- 'in' and 'not in' operator

# << and >>

if n=8 (1000 in binary), n>>1 will give 100 after shifting bits by 1 place to right. 
                         n<<1 will give 10000 after shifting bits by 1 place to left.

In [1]:
n=10
print(n,'binary',format(n,'b'))
print(n,'* 2=',n<<1, format(n<<1,'b'))
print(n,'/ 2=',n>>1,format(n>>1,'b'))

10 binary 1010
10 * 2= 20 10100
10 / 2= 5 101

In [2]:
# logical
x = True
y = False
print('x and y is',x and y) # Output: x and y is False
print('x or y is',x or y) # Output: x or y is True
print('not x is',not x) # Output: not x is False

x and y is False
x or y is True
not x is False

In [3]:
# bitwise
x=10 
y=4
print(x & y) 
print(x | y)
print(x ^ y)

0
14
14

In [4]:
# in and not in

x = 'Hello world'
print('j' in x)    # Output: True
print('h' not in x)   # Output: True

False
True

In [5]:
# perform operations on cs

import cmath
a=complex(20+7j)
b=complex(5+3j)
print('a+b',a+b)
print('a-b',a-b)
print('a*b',a*b)
print('a/b',a/b)

a+b (25+10j)
a-b (15+4j)
a*b (79+95j)
a/b (3.5588235294117645-0.7352941176470589j)

### Task1 Write a program in python to calculate area of triangle when all three sides are given.
- s=(a+b+c)/2
- area =  âˆš(s(s-a)(s-b)(s-c) )

Enter length of triangle12
Enter Breadth of triangle45
Enter height of triangle3
467.6537180435969

# Control Statements

### Decisions (if-else)

# simple if-else
if(cond):
    stmt
else:
    stmt

# if-else-if
if(cond):
    stmt
elif(cond):
    stmt
    .
    .
    .
else: 
    stmt

# nested if-else
                            if(cond):
                                stmt
                                if(cond):
                                    stmt1
                            else:
                                if(cond):
                                    stmt3
                                else:
                                    stmt4

### Task2: Write a proram that accept a lowercase/uppercase character from the user and check whether the character is a vowel or consonant.

In [7]:
# write your code after this line
str=input('Enter a letter: ').lower()
if(str == 'a' or str == 'e' or str == 'i' or str == 'o' or str == 'u'):
  print(str,'is vowel')
else:
  print(str,'is consonant')

Enter a letter: b
b is consonant

### Task3: Write a program to check whether given character is a digit or a character in lowercase or uppercase alphabet. Hint: ASCII value of digit is between 48 to 58 and Lowercase characters in the range of 97 to122, uppercase is between 65 and 90).

In [9]:
# write your code after this line
str = input("Enter a digit(ACSII) or character: ")
str=ord(str)
if str>=97 and str<=122:
  print("lower case letter")
if str>=48 and str<=58:
  print("is a digit")
if str>=65 and str<=90:
  print("upper case letter")

Enter a digit(ACSII) or character: P
upper case letter

### Repetition or loop
- while loop
- for loop

#### While loop

initialization of loop variable
while( condition ):
    stmt 1
    stmt 2
    ...
    update loop variable

##### Task 4: Write a program in Python to print table of any number 'n' provided by user using while loop.

In [10]:
# write your code after this line
num=int(input("enter a number"))
while num <= 10:
    i = 1
    while i <= 10:
        product = num*i
        print(num, " * ", i, " = ", product, "\n")
        i = i + 1
    num = num + 1
    print("\n")

enter a number2
2  *  1  =  2

2  *  2  =  4

2  *  3  =  6

2  *  4  =  8

2  *  5  =  10

2  *  6  =  12

2  *  7  =  14

2  *  8  =  16

2  *  9  =  18

2  *  10  =  20



3  *  1  =  3

3  *  2  =  6

3  *  3  =  9

3  *  4  =  12

3  *  5  =  15

3  *  6  =  18

3  *  7  =  21

3  *  8  =  24

3  *  9  =  27

3  *  10  =  30



4  *  1  =  4

4  *  2  =  8

4  *  3  =  12

4  *  4  =  16

4  *  5  =  20

4  *  6  =  24

4  *  7  =  28

4  *  8  =  32

4  *  9  =  36

4  *  10  =  40



5  *  1  =  5

5  *  2  =  10

5  *  3  =  15

5  *  4  =  20

5  *  5  =  25

5  *  6  =  30

5  *  7  =  35

5  *  8  =  40

5  *  9  =  45

5  *  10  =  50



6  *  1  =  6

6  *  2  =  12

6  *  3  =  18

6  *  4  =  24

6  *  5  =  30

6  *  6  =  36

6  *  7  =  42

6  *  8  =  48

6  *  9  =  54

6  *  10  =  60



7  *  1  =  7

7  *  2  =  14

7  *  3  =  21

7  *  4  =  28

7  *  5  =  35

7  *  6  =  42

7  *  7  =  49

7  *  8  =  56

7  *  9  =  63

7  *  10  =  70



8  *  1  =  8

8  *  2  =  16

8  *  3  =  24

8  *  4  =  32

8  *  5  =  40

8  *  6  =  48

8  *  7  =  56

8  *  8  =  64

8  *  9  =  72

8  *  10  =  80



9  *  1  =  9

9  *  2  =  18

9  *  3  =  27

9  *  4  =  36

9  *  5  =  45

9  *  6  =  54

9  *  7  =  63

9  *  8  =  72

9  *  9  =  81

9  *  10  =  90



10  *  1  =  10

10  *  2  =  20

10  *  3  =  30

10  *  4  =  40

10  *  5  =  50

10  *  6  =  60

10  *  7  =  70

10  *  8  =  80

10  *  9  =  90

10  *  10  =  100

##### Task 5: Write a program in Python to evaluate the following series using while loop:
    
    1! + 2! + 3! + 4! ...+ n!
hint: use math.factorial(n) function to calculate factorial of number n.

In [11]:
import math
num=int(input("enter any number"))
sum=0
while(num):
  sum+=math.factorial(num)
  num-=1
print("the sum is",sum)

enter any number0
the sum is 0

##### Task 6: Write a program in Python to enter the numbers till the user wants and at the end it should display the maximum number entered using while loop.

In [12]:
str='Y'
i=[]
n=0;
do{
    i[n]=int(input("Enter a number"))
    str=input("Do you want to enter more numbers??(Y/N):- ")
    n=n+1
}while(str=='Y')
print(max(i))

SyntaxError: ignored

### for loop

for iterable_var_name in range(terminating_value):
    stmt 1
    stmt 2
    ...
    
 for iterable_var_name in range(initial_value,terminating_value):
    stmt 1
    stmt 2
    ...
    
 for iterable_var_name in range(initial_value,terminating_value,updation):
    stmt 1
    stmt 2
    ...

In [13]:
# factorial
n=int(input('Enter a number '))
fact=1
for i in range(n,1,-1):
    fact=fact*i
print(n,'! =',fact)

Enter a number 5
5 ! = 120

##### Task 7:Write a program in Python to print all numbers from 0 to 9 except 3 and 6 using a for loop.

In [14]:
for i in range(10):
  if(i==3 or i==6):
    continue;
  else:
    print("number :",i)

number : 0
number : 1
number : 2
number : 4
number : 5
number : 7
number : 8
number : 9

#### 2 Write a program in Python to get 10 numbers from user using a for loop. The program should print the count of positive numbers, negative numbers and zeroes entered by the user.

In [15]:
count1=0
count2=0
count3=0
for i in range (10):
  y=int(input("enter the number"))
  if(y>0):
    count1+=1
  elif(y<0):
    count2+=1
  else:
    count3+=1
print("positive :{}".format(count1))
print("negative :{}".format(count2))
print("zero :{}".format(count3))

enter the number2
enter the number5
enter the number7
enter the number9
enter the number11
enter the number13
enter the number15
enter the number17
enter the number19
enter the number21
positive :10
negative :0
zero :0